__pycache__/
*.pyc
._*
.DS_Store
.__codex_tmp_sync_marker/
tmp/
checkpoint/
my_outputs/
# data/
data/processed/epi_abm/
*.pth
*.ckpt
*.log
*.pth
*.pt
*.gitignore
*trace.json
*.h5
external_repos/
mlruns/
.cursor/
.specstory/
.vscode/
docs/
mlartifacts/
grid_results/
